@tailwind base;

* {
  font-family: 'Cabin', sans-serif;
}

body {
  font-size: calc(1rem + 0.35vw);
  line-height: calc(1rem + 1.05vw);
  color: var(--primary-text);
  background-color: var(--primary-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.912rem;
  line-height: calc(1rem + 1.8vw);
}

h2 {
  font-size: 1.616rem;
  line-height: calc(1rem + 1vw);
}

h3 {
  font-size: 1.471rem;
  line-height: calc(1rem + 0.7vw);
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.243rem;
}

h6 {
  font-size: 1.132rem;
}
h4,
h5,
h6 {
  line-height: calc(1rem + 0.2vw);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: calc(1rem + 1.05vw) 0;
  font-weight: 600;
}
p,
i,
li {
  letter-spacing: -0.04px;
  line-height: calc(1rem + 1.35vw);
}

mark,
.highlighted {
  background: #7dffb3;
}

::selection {
  background-color: lavender;
}

.background-img {
  perspective: 2px;
  overflow-x: hidden;
  overflow-y: auto;
}

.background-img:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.21);
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}


@tailwind components;

@tailwind utilities;


